@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DoanComics.Models.Truyen

@{
    ViewData["Title"] = "Them";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm truyện</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemTruyen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TenTruyen" class="control-label"></label>
                <input asp-for="TenTruyen" class="form-control" />
                <span asp-validation-for="TenTruyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiDanh" class="control-label"></label>
                <input asp-for="BiDanh" class="form-control" />
                <span asp-validation-for="BiDanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuotXem" class="control-label"></label>
                <input asp-for="LuotXem" class="form-control" />
                <span asp-validation-for="LuotXem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguon" class="control-label"></label>
                <input asp-for="Nguon" class="form-control" />
                <span asp-validation-for="Nguon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label"></label>
                <input type="file" accept="image/*" asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoatDong" class="control-label"></label>
                <input asp-for="HoatDong" class="form-control" />
                <span asp-validation-for="HoatDong" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

